@{

    Layout = "~/Views/Shared/_Layout.cshtml";


}

@using chohan.Models;
    <section id="one-parallax" class="parallax" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
        <div class="mapandslider">
            <div class="overlay1 dm-shadow">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12">
                            <div id="property-slider" class="clearfix">
                                <div id="home_slider" class="flexslider">
                                    <ul class="slides">
                                        <li>
                                            <div class="desc">
                                                <div class="ps-desc">
                                                    <p>Your dream maker</p>
                                                </div>
                                            </div>
                                            
                                            <a href="#"><img src="~/Images/property-d-1-1.jpg" alt=""></a>
                                        </li>
                                        <li>
                                            <div class="desc">
                                                <div class="ps-desc">
                                                    <p>The energy of change</p>
                                                </div>
                                            </div>
                                            <a href="#"><img src="~/Images/home3-banner1.jpg" alt=""></a>
                                        </li>
                                        <li>
                                            <div class="desc">
                                                <div class="ps-desc">
                                                    <p>Brilliant ideas</p>
                                                </div>
                                            </div>
                                            <a href="#"><img src="~/Images/home4-banner1.jpg" alt=""></a>
                                        </li>
                                        <li>
                                            <div class="desc">
                                                <div class="ps-desc">
                                                    <p>Know the stream</p>
                                                </div>
                                            </div>
                                            <a href="#"><img src="~/Images/home6-banner1.jpg" alt=""></a>
                                        </li>
                                    </ul>
                                    <!-- end slides -->
                                </div>
                                <!-- end flexslider -->
                            </div>
                            <!-- end property-slider -->
                        </div>
                        <!-- end col-lg-8 -->
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div id="search-box" class="searchmodule clearfix" data-effect="slide-right">
                                <h3 class="search-heading">
                                    Find Your Property
                                </h3>
                                <form id="advanced_search" action="~/Home/search" class="clearfix" method="post">
                                    <input class="search-page" type="hidden" name="purpose" value="1">

                                    <div class="purp_animate_label">
                                        <div class="bg_animation"></div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pos_rel search_purp">

                                            <label class="buy-modifier purpose">
                                                <span class="purpose_prominent">
                                                    Buy
                                                </span>
                                            </label>

                                            <label class="rent-modifier rent">
                                                <span class="purpose_prominent">
                                                    Rent
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 city-selector ">
                                        <select name="city" required class="show-menu-arrow selectpicker">
                                            <option value="Islamabad">Islamabad</option>
                                            <option value="Karachi">Karachi</option>
                                            <option value="Lahore">Lahore</option>
                                            <option value="Multan">Multan</option>
                                            <option value="Peshawar">Peshawar</option>
                                        </select>
                                    </div>
                                    @*<div id="inputLocation_box" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <input type='hidden' value='' class="form-control" />
                                        <input type="text" id="inputLoc" name="location" value="" disabled="disabled" class="form-control" />
                                    </div>*@
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                        <label for="types"></label>
                                        <select name="type" class="show-menu-arrow selectpicker">
                                            <option value="">Any Type</option>
                                            <option value="Houses">Houses</option>
                                            <option value="Flats">Flats</option>
                                            <option value="Upper Portions">Upper Portions</option>
                                            <option value="Lower Portions">Lower Portions</option>
                                            <option value="Farm Houses">Farm Houses</option>
                                            <option value="Rooms">Rooms</option>
                                            <option value="Penthouse">Penthouse</option>
                                            <option value="Residential Plots">Residential Plots</option>
                                            <option value="Plot Files">Plot Files</option>
                                            <option value="Commercial Plots">Commercial Plots</option>
                                            <option value="Agricultural Land">Agricultural Land</option>
                                            <option value="Plot Forms">Plot Forms</option>
                                            <option value="Industrial Land">Industrial Land</option>
                                            <option value="Offices">Offices</option>
                                            <option value="Shops">Shops</option>
                                            <option value="Warehouses">Warehouses</option>
                                            <option value="Factories">Factories</option>
                                            <option value="Buildings">Buildings</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label for="bedrooms"></label>
                                        <select id="bedrooms" class="show-menu-arrow selectpicker" name="beds">                                 
                                           <option value="">Any Beds</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7+</option>
                                        </select>
                                    </div>

                                    <div id="min-price-con" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 price-menu">
                                        <input type="text" class="form-control" name="minprice" placeholder="min price"/>
                                    </div>
                                    <div id="max-price-con" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 price-menu">
                                        <input type="text" class="form-control" name="maxprice" placeholder="max price" />
                                    </div>
                                    

                                    <div class="clearfix"></div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><input type="submit" class="btn btn-inverse btn-block" value="SEARCH PROPERTY"> /></div>
                                </form>
                            </div>
                            <!--Hiden content changer-->
                            <div class="ele-hide">
                                <div id="rent-min-sel-con">
                                    <select id="rent-min-sel" class="show-menu-arrow selectpicker">
                                        <option value="">
                                            No Min Price
                                        </option>
                                        <option value="1000">
                                            1000
                                        </option>
                                        <option value="5000">
                                            5000
                                        </option>
                                        <option value="10000">
                                            10000
                                        </option>
                                        <option value="20000">
                                            20000
                                        </option>
                                        <option value="50000">
                                            50000
                                        </option>
                                        <option value="100000">
                                            1 Lakh
                                        </option>
                                        <option value="200000">
                                            2 Lakh
                                        </option>
                                    </select>
                                </div>
                                <div id="rent-max-sel-con">
                                    <select id="rent-max-sel" class="show-menu-arrow selectpicker">
                                        <option value="">
                                            No Max Price
                                        </option>
                                        <option value="5000">
                                            5000
                                        </option>
                                        <option value="10000">
                                            10000
                                        </option>
                                        <option value="20000">
                                            20000
                                        </option>
                                        <option value="50000">
                                            50000
                                        </option>
                                        <option value="100000">
                                            1 Lakh
                                        </option>
                                        <option value="200000">
                                            2 Lakh
                                        </option>
                                        <option value="500000">
                                            5 Lakh
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="ele-hide">
                                <div id="buy-min-sel-con">
                                    <select id="buy-min-sel" class="show-menu-arrow selectpicker">
                                        <option value="">No Min Price</option>
                                        <option value="100000">1 Lakh</option>
                                        <option value="200000">2 Lakh</option>
                                        <option value="500000">5 Lakh</option>
                                        <option value="1000000">10 Lakh</option>
                                        <option value="2000000">20 Lakh</option>
                                        <option value="5000000">50 Lakh</option>
                                        <option value="10000000">1 Crore</option>
                                        <option value="20000000">2 Crore</option>
                                    </select>
                                </div>
                                <div id="buy-max-sel-con">
                                    <select id="buy-max-sel" class="show-menu-arrow selectpicker">
                                        <option value="">No Max Price</option>
                                        <option value="200000">2 Lakh</option>
                                        <option value="500000">5 Lakh</option>
                                        <option value="1000000">10 Lakh</option>
                                        <option value="2000000">20 Lakh</option>
                                        <option value="5000000">50 Lakh</option>
                                        <option value="10000000">1 Crore</option>
                                        <option value="20000000">2 Crore</option>
                                        <option value="50000000">5 Crore</option>
                                    </select>
                                </div>
                            </div>
                            <!-- end search module -->
                        </div>
                        <!-- end col-lg-4 -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- end dm_container -->
            </div>
        </div>
    </section>
    <!-- end mapandslider -->
    <section id="services-section" class="generalwrapper dm-shadow clearfix">
        <div class="container">
            <div class="row text-center">
                <h3 id="pwd-logo" class="big_title"></h3>

                <div class="services_section clearfix">
                    @*<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="servicebox first">
                            <div class="service-icon">
                                <div class="dm-icon-effect-1" data-effect="slide-bottom"> <a href="http://www.chohan.com.pk/landlords.html" class=""> <i class="hovicon effect-1 sub-a "><span class="bg-ico service-list-ico-2x"></span></i> </a> </div>
                            </div>
                            <div class="servicetitle">
                                <h3>
                                    List your property
                                </h3>
                            </div>
                            <p>
                                Our registered and credible real estate & property agents help you out in buying, selling and renting out your property as quickly as possible for the best possible price.
                            </p>
                            <div class="text-center clearfix">
                                <a class="btn btn-primary" href="http://www.chohan.com.pk/landlords.html">
                                    List Property
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="servicebox">
                            <div class="service-icon">
                                <div class="dm-icon-effect-1" data-effect="slide-bottom"> <a href="http://www.chohan.com.pk/contactus.html" class=""> <i class="hovicon effect-1 sub-a "><span class="bg-ico service-guide-ico-2x"></span></i> </a> </div>
                            </div>
                            <div class="servicetitle">
                                <h3>
                                    Guidance
                                </h3>
                            </div>
                            <p>
                                We have developed the Guide as a result of the growing tendency for property directors and fund managers to manage property portfolios across multiple countries and a range of jurisdictions.
                            </p>
                            <div class="text-center clearfix">
                                <a class="btn btn-primary" href="http://www.chohan.com.pk/contactus.html">
                                    Get Guidance
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="servicebox">
                            <div class="service-icon">
                                <div class="dm-icon-effect-1" data-effect="slide-bottom"> <a href="http://www.chohan.com.pk/contactus.html" class=""> <i class="hovicon effect-1 sub-a "><span class="bg-ico service-phone1-ico-2x"></span></i> </a> </div>
                            </div>
                            <div class="servicetitle">
                                <h3>
                                    Contact Us
                                </h3>
                            </div>
                            <p>
                                Our #1 priority is to provide excellent customer service. Available 24 hours a day, 7 days a week. If there is any way we can be of assistance, please contact us right away.
                            </p>
                            <div class="text-center clearfix">
                                <a class="btn btn-primary" href="http://www.chohan.com.pk/contactus.html">
                                    Contact Now
                                </a>
                            </div>
                        </div>
                    </div>*@
                </div>
                <!-- services_section -->
            </div>
            <!-- end row -->
            <!-- <div class="text-center clearfix"> <a class="btn btn-primary" href="#">VIEW ALL SERVICES</a> </div> -->
            <!-- end text-center -->
        </div>
        <!-- end container -->
    </section>
    <!-- end generalwrapper -->
    <section id="three-parallax" class="parallax" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
        <div class="threewrapper">
            <div class="overlay1 dm-shadow">
                <div class="container">
                    <div class="row">
                        <div class="text-center clearfix">
                            <h3 id="feat-head" class="big_title">
                                Featured Properties              </small>
                            </h3>
                        </div>
                        @if (ViewBag.prop != null)
                        {
                            foreach (property p in ViewBag.prop)
                            {
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

                                    <div class="boxes first featured_prop_adj" data-effect="slide-bottom">
                                        <div class="ImageWrapper boxes_img">

                                            <table align="center" class="featured-image-table" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td>
                                                        <img src="@p.pimage" alt="">
                                                    </td>
                                                </tr>
                                            </table>
                                            <!---PRICE-->
                                            <div class="box_type">PKR @p.price</div>
                                            <div class="status_type">@p.type</div>
                                        </div>
                                        <h2 class="title">
                                            <a href="#">@p.Description</a>
                                            <small class="small_title">
                                               @p.pAddress
                                            </small>
                                        </h2>
                                        <div class="boxed_mini_details1 clearfix">

                                            <span class="sqft last">

                                                <strong>Area</strong>
                                                <i class="bg-ico area-ico"></i> @p.Area @p.Unit
                                            </span>


                                        </div>
                                    </div>
                                    <!-- end boxes -->
                                </div>
                            }

                        }
                             
                        
                        
                                                                        <!--</div>-->
                        <!-- end boxes -->
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end overlay1 -->
        </div>
        <!-- end threewrapper -->
    </section>
    <!-- end parallax -->
    <!-- CEO Message -->
    @*<section class="message_banner dm-shadow">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="message">
                        <h2>
                            CEO Message
                        </h2>

                        <div id="hme_ceo_logo" class="col-lg-2 col-md-2 col-sm-12 ">
                            <img src="https://images.zameen.com/common/resize.php?img=201/155463.jpg&d=120&m=1" alt="" />
                        </div>

                        <div class="ceo-para">
                            <p class="home_ceo_para para-justify">
                                Every employee at Chohan Builders & Associates is working wholeheartedly to provide you a friendly and innovative service which is completely secured from every aspect. We believe that our clients are unquestionably satisfied with our real estate...
                            </p>
                            <a class="btn btn-primary home_ceo_link" href="http://www.chohan.com.pk/ceo_message.html">
                                Read more
                            </a>
                        </div>
                        <div class="clearfix"></div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

                              </div> 
            </div>
        </div>
    </section>*@
    <!-- CEO Message end -->
    <!--[if lt IE 9]><script>(function(){e("http://agency.zameen.com/templates/template_8/images_css/")})()</script><![endif]-->
    