@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using chohan.Models;



<section class="post-wrapper-top dm-shadow clearfix">
    <div class="container">
        <div class="post-wrapper-top-shadow">
            <span class="s1"></span>
        </div>
        <div class="col-lg-12 page-heading">
            <h2>Please contact us to get your property properly evaluated</h2>
        </div>
    </div>
</section>

<section class="generalwrapper dm-shadow clearfix">
    <div class="container">
        <div class="row">
            <!-- #left_sidebar -->
            <div id="content" class="col-lg-8 col-md-8 col-sm-8 col-xs-12 clearfix">
                <div class="">

                    <p>Please feel free to send information of your properties for accurate valuation and comprehensive guidance.</p>
                @if (ViewBag.up != null)
                {
                 property p=ViewBag.up;
                    <form enctype="multipart/form-data" action="~/Home/updateProperty" method="post">
                    <input type="hidden" name="pid" value="@p.pid" />
                        @*Image <input type="file" title="search image" id="file" name="file" />*@
                        <label>City <em>(required)</em></label>
                        <div>
                            <select name="city" class="show-menu-arrow selectpicker">
                                <option value="@p.city">@p.city</option>   
                                @{
                                         List<string> lcity = new List<string>();
                                         lcity.Add("Islamabad");
                                         lcity.Add("Karachi");
                                         lcity.Add("Lahore");
                                         lcity.Add("Multan");
                                         lcity.Add("Peshawar");
                                         foreach (var c in lcity)
                                         {
                                             if (c != p.city)
                                             {
                                                <option value="@c">@c</option>
                                             }
                                         }
                                }
                                                           
                               
                            </select>
                        </div>
                        <label>Purpose <em>(required)</em></label>
                        <select name="purpose" class="show-menu-arrow selectpicker">
                          <option value="@p.purpose">@p.purpose</option>
                            @if (p.purpose.Trim() == "For Sale")
                            {
                                <option value="To Rent">To Rent</option>
                            }
                            else
                            {
                                <option value="For Sale">For Sale</option>
                            }
                           
                            
                        </select>
                        <label>Type <em>(required)</em></label>
                        <select name="type" class="show-menu-arrow selectpicker">
                            <option value="@p.type">@p.type</option>
                            @{
                            List<string> ltype = new List<string>();
                            ltype.Add("Houses");
                            ltype.Add("Flats");
                            ltype.Add("Upper Portions");
                            ltype.Add("Lower Portions");
                            ltype.Add("Farm Houses");
                            ltype.Add("Rooms");
                            ltype.Add("Penthouse");
                            ltype.Add("Residential Plots");
                            ltype.Add("Plot Files");
                            ltype.Add("Commercial Plots");
                            ltype.Add("Agricultural Land");
                            ltype.Add("Plot Forms");
                            ltype.Add("Industrial Land");
                            ltype.Add("Offices");
                            ltype.Add("Shops");
                            ltype.Add("Warehouses");
                            ltype.Add("Factories");
                            ltype.Add("Buildings");
                            ltype.Add("Other");
                                foreach (var c in ltype)
                                {
                                    if (c != p.type)
                                    {
                                        <option value="@c">@c</option>
                                    }
                                }
                            }
                           
                        </select>

                        <label>Asking Price (PKR) <em>(required)</em></label>
                        <input type="text" name="price" id="ll_price" class="form-control" value="@p.price">

                        <label>Bedrooms</label>
                        <select name="beds" class="show-menu-arrow selectpicker">                           
                            <option value="@p.Bedrooms">@p.Bedrooms</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10+">10+</option>
                        </select>
                        <label>Bathrooms</label>
                        <select name="bath" class="show-menu-arrow selectpicker">
                          
                            <option value="@p.Bathrooms">@p.Bathrooms</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10+">10+</option>
                        </select>

                        <label>Covered Area</label>
                        <input type="text" name="area" class="form-control" value="@p.Area">

                        <label>Unit</label>
                        <select name="area_unit" class="show-menu-arrow selectpicker">
                          
                            <option selected value="Marla">Marla</option>
                            @*<option value="Kanal">Kanal</option>*@
                        </select>

                        <label>Property Address</label>
                        <textarea rows="3" name="address"  class="form-control address-text">@p.pAddress</textarea>

                        <label>Property Description</label>
                        <textarea rows="3" required name="des"  class="form-control address-text">@p.Description</textarea>

                        <h3>Contact Details</h3>

                        <label>Contact Person</label>
                        <input type="text" name="person_name" value="@p.Contact_Person" class="form-control">

                        <label>Email <em>(required)</em></label>
                        <input type="text" name="email" class="form-control" value="@p.email">

                        <label>Phone <em>(required)</em></label>
                        <input type="text" name="phone" class="form-control" value="@p.phone">

                        <label>Cell</label>
                        <input type="text" name="cell" class="form-control" value="@p.cell">

                        <label>Fax</label>
                        <input type="text" name="fax" class="form-control" value="@p.fax">



                        <div class="span4 clear-float pos_rel">
                            <input type="submit" class="btn btn-primary blue-btn agent_detailpop" />
                            <div class="errors_in_div"></div>
                        </div>
                    </form><!-- end search form -->
                }   
               
                </div><!-- end property_wrapper -->
            </div>


            
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!--[if lt IE 9]><script>(function(){e("http://agency.zameen.com/templates/template_8/images_css/")})()</script><![endif]-->
<!-- end copyright -->
<!-- Bootstrap core and JavaScript's
    ================================================== -->
<script type="text/javascript" src="http://agency.zameen.com/templates/template_8/js/jquery.fitvids.js"></script>
<script type="text/javascript" src="http://agency.zameen.com/templates/template_8/js/jquery.unveilEffects.js"></script>
<script type="text/javascript" src="http://agency.zameen.com/templates/template_8/js/fhmm.js"></script>
<script type="text/javascript" src="http://agency.zameen.com/templates/template_8/js/application.js"></script>
<script type="text/javascript" src="http://agency.zameen.com/templates/template_8/js/lang.js"></script>
<script type="text/javascript" src="http://agency.zameen.com/templates/template_8/js/autofill.js"></script>
<script type="text/javascript" src="http://agency.zameen.com/templates/template_8/js/scripts.js"></script>

<!-- FlexSlider JavaScript
    ================================================== -->
<!--
<script>
        $(window).load(function() {
            $('#carousel').flexslider({
                animation: "slide",
                controlNav: true,
                directionNav: false,
                animationLoop: true,
                slideshow: true,
                itemWidth: 114,
                itemMargin: 0,
                asNavFor: '#slider'
            });

            $('#slider').flexslider({
                animation: "fade",
                controlNav: false,
                animationLoop: false,
                slideshow: true,
                sync: "#carousel"
            });

            $('#property-slider .flexslider').flexslider({
                animation: "fade",
                slideshowSpeed: 6000,
                animationSpeed:	1300,
                directionNav: true,
                controlNav: false,
                keyboardNav: true
            });
        });
    </script>
     -->
